#selection{
    margin-left: 500px;
}
#birth{
    margin-left: 500px;
    margin-right: 700px;
}
.container{
    box-shadow: 0px 5px 5px gray;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-top: 100px;
  
}
input[type=button]{
    margin-left: 700px;
    margin-right: 700px;
}
body{
    background-image: url("Images/5.jpg");
    height: cover;
    color: rgb(245,255,250);
         
}
*{
    padding: 3px;
}
